
h1 {
    text-align: center;
    color:rgb(159, 149, 122);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading {
    border: 2px solid rgb(227, 213, 188);
    background-color: rgb(237, 226, 211);
    margin: auto;
    padding: 7px 7px;
    position:relative;
}

nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: rgb(219, 204, 187);
    border: 1px solid rgb(198, 186, 187);  
    letter-spacing: 2px; 
    word-spacing: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pseudo {
    text-decoration: none;
}

a.pseudo:visited {
    color: white;
    font-size: medium;
    text-align: left;
}

a.pseudo:hover {
    color:rgb(1, 4, 6);
}

a.pseudo:active {
    color: rgb(159, 149, 122);
}


.frame {
    width: 600px;
    height: 500px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position:fixed;
    left: -575px;
    right: 20px;
    top: 160px;
}

.hello {
    position:relative;
    left: 1300px;
    right: 700px;
    top: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(133, 125, 103);   
    font-size: 30px;
}

.intro {
    position:relative;
    left: 1300px;
    right: 700px;
    top: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(133, 125, 103); 
    font-size: 25px;
}


.ending {
    position:relative;
    top: 800px;
}




.name {
    top: 150px;
    font-size:40px;
    position: absolute;
    right: 1000px;
 
}

.words {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(133, 125, 103); 
    font-size: 20px;
    text-align:start;
    position: relative;
    top: 125px;
    right: -875px;
}




.shell {
    width: 300px;
    height: 500px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position:absolute;
    left: 600px;
    right: -300px;
    top: 725px;
}

.happy {
    width: 375px;
    height: 500px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position:absolute;
    left: -1400px;
    right: -300px;
    top: 725px;
}

.dog {
    width: 375px;
    height: 500px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position:absolute;
    left: -400px;
    right: -300px;
    top: 725px;
}

.cat {
    top: 750px;
    font-size:30px;
    position: relative;
    right: 50px;
    width: 800px;
    height:300px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    color: white;
}



.smile {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(159, 149, 122);
    border: 2px solid rgb(227, 213, 188);
    background-color: rgb(237, 226, 211);
    margin: auto;
    padding: 7px 7px;
    position:relative;
}

.tall {
    width: 810px;
    height: 800px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position: relative;
    top: 20px;
    right: -500px;
}

.apple {
    width: 810px;
    height: 800px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position: relative;
    top: 20px;
    right: -300px;
}

.simple {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(159, 149, 122);
}

.pants {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color:rgb(159, 149, 122);
    position:absolute;
    top: 1350px;
}

.grape {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(159, 149, 122);
    border: 2px solid rgb(227, 213, 188);
    background-color: rgb(237, 226, 211);
    margin: auto;
    padding: 7px 7px;
    position:relative;
    top: 150px;
}

.tiny {
    position: relative;
    left: 475px;
}


.turtle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(159, 149, 122);
    font-size: x-large;
    text-align: center;
    position:absolute;
    left: 400px;
    right: 1700px;
    top: 950px;
}

.hill {
    width: 650px;
    height: 150px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    text-align: center;
    position:absolute;
    left: 500px;
    right: 1700px;
    top: 1000px;
    color: white;
    letter-spacing: 2px;
}


.ring {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(159, 149, 122);
    font-size: x-large;
    text-align: center;
    position:absolute;
    left: 400px;
    right: 100px;
    top: 950px;
}



.mouse {
    width: 650px;
    height: 150px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    position:absolute;
    left: 10px;
    right: -800px;
    top: 1000px;
    color: white;
}

.bunny {
    top: 300px;
    font-size:30px;
    position: relative;
    right: -10px;
    width: 500px;
    height:50px;
    border: 5px solid rgb(198, 186, 164);
    background-color: rgb(219, 204, 187);
    margin: auto;
    padding: 15px 15px;
    color: white;
    text-align: center;
}

a {
    color: rgb(82, 68, 40);
}

.emoji {
    position: relative;
    top: -355px;
    right: -1500px;
}




















/*body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(234, 243, 247);
    text-align: left;
}

h1 {
    color:rgb(89, 148, 89);
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style:dotted;
    width: 700px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    border: 20px;


}

h3 {
    color: rgb(70, 95, 218);
    text-align: left;
    text-indent: 10px;
}

p {
    font-size: 15px!important;
    text-align: left;
    letter-spacing: 3px;
}

ol {
    text-align: left;  
}

#river {
    position:absolute;
    left: 600px;
    right: 20px;
    top: 450px;
    color: blue;
    width: 400px;
    height: 500px;
}

#smile {
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
}

.box {
    background-color: white;
    height: 195px;
    width: 300px;
    border: 10px solid rgb(169, 183, 244);
    padding: 50px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: cat;
    animation-duration: 4s;
    text-align: center;
}

.box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(94, 118, 226);
}

.box > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes cat {
    from {background-color: rgb(103, 95, 216);}
    to {background-color: rgb(137, 211, 237);}
}

.container {
    background-color:white;
    height: 150px;
    width: 400px;
    border: 2px solid rgb(169, 183, 244);
    padding: 5px;
    margin: 5px;
}

.container a {
    color: green;
    text-align: center;
}


img {
    border: 10px solid rgb(84, 153, 112);
}

.blue {
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.purple {
    font-size:30px;
}


nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: rgb(169, 183, 244);
    border: 1px solid rgb(83, 139, 81);   
}

.pseudo {
    text-decoration: none;
}

a.pseudo:visited {
    color: white;
    font-size: medium;
    text-align: left;
}

a.pseudo:hover {
    color:lightblue;
}

a.pseudo:active {
    color: green;
}





































body {
    font-family: Arial, Helvetica, sans-serif;
}

.pseudo {
    text-decoration: none;
}

a.pseudo:visited {
    color: blueviolet;
}

a.pseudo:hover {
    color:lightblue;
}

a.pseudo:active {
    color: green;
}

div.position {
    position: absolute;
    left: 50px;
    right: 400px;
    top: 100px;
}

nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: rgb(243, 194, 154);
    border: 1px solid orange;
}

.button1 {
    background-color: green;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}




div {
    background: pink;
}

span {
    background: lightskyblue;
    height: 50px;
    width: 300px;
    display: block;
}
.box {
    background-color: lightyellow;
    width: 500px;
    border: 20px solid peachpuff;
    padding: 40px;
    margin: 60px;
}

p {
    background-color: lightblue;
    color: whitesmoke;
    margin: 40px 50px 40px 50px;
}












 
 body {
            background: rgb(255, 199, 206);  
        }

        section a {
            color: greenyellow;
        }

        section > a {
            color:orange;
        }

        p {
            font-size: 15px!important;
        }

        p {
            font-size:24px;
        }

        h4 {
            color:darkviolet;
        }

        .purple {
            color:purple;
        }

        #blue {
            color:rgb(42, 42, 231);
        }
*/

    